Exercises - UVa/Source/Source/Source.vcxproj.user
Exercises - UVa/Source/Source/Source.vcxproj.filters
Exercises - UVa/Source/Source/Source.vcxproj
Exercises - UVa/Source/Source/Source.cpp
Exercises - UVa/Source/Source/Debug/vc142.pdb
Exercises - UVa/Source/Source/Debug/vc142.idb
Exercises - UVa/Source/Source/Debug/Source.tlog/CL.command.1.tlog
Exercises - UVa/Source/Source/Debug/Source.obj
Exercises - UVa/Source/Source/Debug/Source.log
Exercises - UVa/Source/Source.sln
Exercises - UVa/Source/Debug/Source.pdb
Exercises - UVa/Source/.vs/Source/v16/Browse.VC.db-shm
Exercises - UVa/Source/.vs/Source/v16/Browse.VC.db
Exercises - UVa/Source/.vs/Source/v16/.suo
Exercises - UVa/.cph/.11172.cpp_5af530a4b662f0f4da29cf2bbd6151b7.prob
Exercises - UVa/Source/Source/Debug/Source.tlog/link.write.1.tlog
Exercises - UVa/Source/Source/Debug/Source.tlog/link.read.1.tlog
Exercises - UVa/Source/Source/Debug/Source.tlog/link.command.1.tlog
Exercises - UVa/Source/Source/Debug/Source.tlog/Source.lastbuildstate
Exercises - UVa/Source/Source/Debug/Source.tlog/CL.write.1.tlog
Exercises - UVa/Source/Source/Debug/Source.tlog/CL.read.1.tlog
Exercises - UVa/Source/Debug/Source.exe
Exercises - UVa/Source/.vs/Source/v16/ipch/AutoPCH/9cb3ca743a23d832/SOURCE.ipch
Exercises - UVa/Source/.vs/Source/v16/ipch/AutoPCH/818b282281a9c118/SOURCE.ipch
Exercises - UVa/Source/.vs/Source/v16/ipch/AutoPCH/7695a31a0d8b4a02/11498.ipch
Exercises - UVa/Source/.vs/Source/v16/Browse.VC.opendb
Exercises - UVa/Source/.vs/Source/v16/Browse.VC.db-wal
Exercises - UVa/Source/Debug/Source.ilk
